<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Transactions

    <a data-toggle="collapse" href="#user_transactions_new_form">
      Add transaction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.transactions.each do |transaction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/transactions/<%= transaction.id %>">
          <%= transaction.description %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
