<h1>
  Add a new budget
</h1>


<hr>

<form action="/create_budget" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @budget.category_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="deleted">
    <input id="deleted" class="form-check-input" name="deleted" type="checkbox">
    <label for="deleted" class="form-check-label">
      Deleted
    </label>
  </div>

  <div class="form-group">
    <label for="month_date">
      Month date
    </label>

    <input type="text" id="month_date" name="month_date" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create budget
  </button>
</form>

<hr>

<a href="/budgets">
  Go back
</a>
