<h1>
  Add a new vendor
</h1>


<hr>

<form action="/create_vendor" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="deleted">
    <input id="deleted" class="form-check-input" name="deleted" type="checkbox">
    <label for="deleted" class="form-check-label">
      Deleted
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vendor
  </button>
</form>

<hr>

<a href="/vendors">
  Go back
</a>
