<form action="/create_category_from_bucket" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @category.name %>">
  </div>

  <input type="hidden" name="transation_id" value="<%= @bucket.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create category
  </button>
</form>
